.project {
  padding: 0;
  margin: 0;
  /*.project__title {
    font-size: 2rem;
  }*/
}

.project__container {
  text-align: center;
}

.project__title {
  cursor: pointer;
  font-size: 2rem;
}

.project__title:hover {
  color: #6567da;
}
